.bodybac {
  background-image: url(./background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.808);
  margin: 0;
}

/* ----------------------العنوان-------------------------- */

/* قم بتغيير عرض الناف بار حسب الصورة  */
.navbar {
  padding: 0;
  margin: 0;
  width: 1250px;
  background-color: rgba(0, 0, 0, 0.575);
}

.head-ul {
  padding-bottom: 5px;
}

.head-a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}
.title {
  text-align: center;
  margin: 0;
  color: white;
}
/* استعمل الهوامش او الحواشي لتعديل الشكل  */
.head-li {
  display: inline;
  padding: 15px;
}

/* -----------------------المحتوى---------------------------- */

.menu {
  display: block;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
  padding-left: 50px;
  padding-right: 20px;
  padding-top: 30px;
  height: 550px;
  width: 550px;
  border-radius: 20px;
}
img {
  width: 100px;
  height: 100px;
  margin-left: 100px;
  border-radius: 20px;
}

.menu-title {
  display: block;

}

/* ------------------------الشريط الجانبي--------------------- */
/* --------------------200px اجعل عرض الشريط------------------ */
.sidebar {
  width: 200px;
  background-color: rgba(255, 255, 255, 0.74);
  border-radius: 20px;
}
.side-a {
  text-decoration: none;
  color: darkred;
}

.side-ul {
  margin-left: 40px;
}
h2 {
  margin-right: 25px;
}
.side-li {
  list-style-type: none;
}

.flexer{
  display: flex;
}

.teacherAzizFlex{
  display: flex;
  justify-content: center;
}

.text{
  text-align: center;
}